@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	margin: 0;
	background-image: url("moon.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
h2{
	font-family: 'Roboto', sans-serif;
}
header{
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	background-color: #66C1E8;
	display: inline-block;
	width: 100%;
}
.headerbutton{
	background-color: #33E3FF;
	padding: 4px;
	width: 10%;
	text-align: center;
}
.headerbutton:hover{
	background-color: #33FCFF;
}